<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm fixed-top">
  <div class="container">
    
    <a href="/" class="navbar-brand d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" src="/static/images/favicon-32x32.png" height="24" width="24" title="Find Me Paint">
      <span class="fs-4">Find Me Paint</span>
    </a>

    <div>
      <a href="https://github.com/sjsafranek/hex2paint" target="_blank" class="nav-link p-2" title="GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
          <use xlink:href="#GitHubIcon"/>
        </svg>
      </a>
    </div>

  </div>
</nav>