{% extends 'layout.html' %}


{% block style %}
<style type="text/css">
  .color-tile-container {
    position: relative; 
    height: 200px;
  }
  .color-tile {
    height: 200px;
    width: 100%;
    position: absolute;
  }
  .color-search {
    height: 50px;
    width: 50px;
    position: absolute;
  }

  /* Override color size */
  .colorpicker-preview {
    height: 148px;
  }

  .colorpicker-popup {
    width: 212px;
  }

  .colorpicker-saturation {
    width: 173px;
  }

  .colorpicker-hue {
    width: 32px;
  }

  .colorpicker-input-addon i {
    height: 30px;
    width: 30px;
  }
</style>
{% endblock %}


{% block content %}

  <div class="row">
    <p class="lead">
      Convert hex color codes to paint colors!! 
      This tool finds the closest paint color using the euclidean distance within a selected color space.
    </p>
    <p>
      Read more at <a href="https://en.wikipedia.org/wiki/Color_difference" target="_blank">https://en.wikipedia.org/wiki/Color_difference</a>.
    </p>
    {% include 'errors.html' %}
    {% include 'warnings.html' %}
  </div>

  <div class="row mt-2 gx-5">

    <div class="col-md-3 col-sm-5 col-xs-12 mt-4">
      {% include 'form.html' %}
    </div>

    <div class="col-md-9 col-sm-7 col-xs-12">
      {% if paints %}
      <div class="row mt-4">
        {% for paint in paints %}
        <div class="col-auto">
          <div class="card mb-4" style="width: 18rem;">
          <!-- <div class="card"> -->
            <div class="card-body">
              <div class="color-tile-container">
                <div class="color-tile" style="background-color: {{paint['color_hex']}}"></div>
                <div class="color-search"style="background-color: {{color}}"></div>
              </div>
              <h5 class="card-title">
                  {{ paint['name'].title() }} ({{ paint['code'] }})
              </h5>
              <h6>
                {{paint['source']}}
              </h6>
              <p class="card-text">
                {{paint['distance']}}<br>
                <a href="{{paint['link']}}" target="_blank">link</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      {% endif %}
    </div>

  </div>

{% endblock %}



{% block script %}
  <script>
    $(document).ready(function() {
      // https://itsjavi.com/bootstrap-colorpicker/tutorial-Basics.html
      $('#colorInputContainer').colorpicker({
        format: 'auto',
        autoInputFallback: false,
        autoHexInputFallback: false,
      });
    });
  </script>
{% endblock %}

